.suggests {
  background-color white
  padding-bottom 100px

  .container {
    text-align left
  }

  &-caption {
    text-align center

    &__text {
      margin-bottom 45px
      color black
      font-family main-ff-bold
      font-size 27px
    }
  }
}
@media (max-width: 576px) {
  .suggests-block {
    margin-bottom 40px
  }
  .suggests-caption__text {
    font-size: 22px;
  }
}