.wide-img {
  background-color white
  padding-bottom 80px
  overflow-x: hidden

  &__img {
    width 100%
    margin-bottom 50px
  }
  .container {
    padding 0px
    margin 0px
    max-width 1170px
  }
  &-heading {
    padding 0 45px
  }
  .heading {
    font-size 28px
    text-transform uppercase
  }
  .text {
    font-size 18px
    margin-bottom 20px
  }
}